html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $green;
    color: $blue;
}

::-webkit-scrollbar {
    display: none;
}

a {
    color: $blue;
    outline: none;
    text-decoration: none !important;

    &:hover {
        color: $light;
    }
}

.icon {
    cursor: pointer;
}

// btn overrides
.btn-info {
    background-color: $blue !important;
    color: $light !important;
    border-color: $blue !important;
    box-shadow: none !important;

    &:hover {
        opacity: 0.9;
    }
}

.btn-success {
    background-color: $dark-green !important;
    color: $light !important;
    font-weight: 900;
    border-color: $dark-green !important;
    box-shadow: none !important;

    &:hover {
        opacity: 0.9;
    }
}

.btn-danger {
    background-color: $red !important;
    color: $light !important;
    border-color: $red !important;
    box-shadow: none !important;

    &:hover {
        opacity: 0.9;
    }
}

// alert overrides
.alert-danger {
    background-color: $red !important;
    color: $light !important;
    border: none !important;
    box-shadow: 0 0 5rem $light;
}

.alert-success {
    background-color: $dark-green !important;
    color: $light !important;
    border: none !important;
    box-shadow: 0 0 5rem $light;
}


// tab overrides
.nav-tabs {
    border-bottom: 2px solid rgba($light, .9);

    .nav-link {
        font-weight: bold;
        margin-bottom: -2px;
        font-size: 1.125rem;
        border: none;
    
        &.active {
          color: $blue;
          background-color: transparent;
          border-bottom: 2px solid $blue;
        }
    }
}

// modal overrides
.modal-body {
    background: $green;
}