.nav-info {
    background-color: $blue;

    .link {
        color: $light;
        margin-right: 1rem;
        text-decoration: none;

        &:hover {
            color: $green;
        }
    }
}

.activeNav{
    visibility: visible;
    transition: all 400ms ease-out;
}

.hiddenNav{
    visibility: hidden;
    transition: all 400ms ease-in;
    transform: translate(0, -100%);
}