.table-wrapper {
    background: $light;
    padding: 1.2rem 1.5rem;
    margin: 1rem 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);

    .table-title {
        background: $blue;
        color: $light;
        padding: 1rem 1.7rem;
        margin: -1.25rem -1.5625rem 0.3125rem;
        border-radius: 3px 3px 0 0;
    }
}